<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/calendar.png">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Appointment Scheduler</title>
</head>
<body>
  <main>
    
    
    <header>
      <img src="images/calendar.png" alt="calendar"/>
      <h1>Appointment Scheduler</h1>
      <p>Please complete the below form to schedule an appointment</p>
    </header>
  
    <form action="confirmation" method="post">
      
      <fieldset>
        <legend>Personal Information</legend>
        <label>First Name:
          <input type="text" name="fname">
        </label>
        <label>Last Name:
          <input type="text" name="lname">
        </label>
      </fieldset>

      <fieldset>
        <legend>Requested Appointment</legend>
          <label>Date:
            <input type="date" name="date">
          </label>
          <label>Time:
            <input type="time" name="time">
        </label>
      </fieldset>

      <button type="submit">Submit</button>
    </form>
  </main>
</body>

</html>
</body>
</html>